* {
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: "Noto Sans Japanese";
}

a {
  text-decoration: none;
}

.image-top{
  width:100%;
}


.tema{
  text-align: center;
}

p{
  color: slategray;
}

.tema h1{
  margin-top: 100px;
  color: rgb(83, 94, 106);
  padding:40px 40px 10px 40px;
  font-size: 40px;
}

.tema p{
  padding:0px 40px 40px 40px;
  margin-bottom: 100px;
  font-size: 25px;
  
}