* {
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: "Noto Sans Japanese";
}

a {
  text-decoration: none;
}

.image-top{
  width:100%;
}


.tema{
  text-align: center;
}

p{
  /*color: slategray;*/
  color: slategray;
}

.tema h1{
  margin-top: 100px;
  color: rgb(83, 94, 106);
  padding:40px 40px 10px 40px;
  font-size: 40px;
}

.tema p{
  padding:20px 40px 40px 40px;
  margin-bottom: 100px;
  font-size: 25px;
}

.mogiten-title {
  text-align: center;
  color: rgb(110, 143, 179);
  margin-bottom: 25px;
  /*background-color: slategray;
  color:white;*/
  
}

/*.mogiten-title h1{
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  background-color: slategray;
  color:aliceblue;
}*/