@media screen and (max-width: 600px) {
  h1{
    font-size: 30px;
  }

  .tema{
    margin: 50px 0px;
  }

  p{
    padding: 0px 60px;
    font-size: 20px;
  }

  .tema p{
    padding:10px 60px 50px 60px;
    margin-bottom: 0px;
  }
}

.flyer-img{
  width: 60%;
}

.cover{
  width: 70%;
}